@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Montserrat:wght@300&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@500&display=swap');

*{
  padding : 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app{
  height: 100vh;
  max-width: 100%;
}